In [7]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [8]:
csv_file = "Resources/API_ILO_country_YU.csv"
world_labor_rates_df = pd.read_csv(csv_file)
world_labor_rates_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014
0,Afghanistan,AFG,0.206000,20.900000,19.700001,21.100000,20.799999
1,Angola,AGO,10.800000,10.700000,10.700000,10.600000,10.500000
2,Albania,ALB,25.799999,27.000000,28.299999,28.700001,29.200001
3,Arab World,ARB,25.022214,28.117516,29.113212,29.335306,29.704569
4,United Arab Emirates,ARE,9.800000,9.800000,9.800000,9.900000,10.000000

### Create new data with select columns

In [9]:
new_world_labor_rates_df = world_labor_rates_df[['Country Code', '2010', '2011', '2012', '2013', '2014']].copy()
new_world_labor_rates_df.head()

  Country Code       2010       2011       2012       2013       2014
0          AFG   0.206000  20.900000  19.700001  21.100000  20.799999
1          AGO  10.800000  10.700000  10.700000  10.600000  10.500000
2          ALB  25.799999  27.000000  28.299999  28.700001  29.200001
3          ARB  25.022214  28.117516  29.113212  29.335306  29.704569
4          ARE   9.800000   9.800000   9.800000   9.900000  10.000000

In [54]:
rates_df = pd.DataFrame( columns=['country_code', 'year', 'rate'])

# series_to_be_added = Series({"b": 0})
#rates_df = rates_df.append([['USA', 2010, 0.00110]],
                   #ignore_index=True, columns=list('ABC'))
#rates_df.head()

#def into_rates(row):
    #rates_df = rates_df.a([[row['Country Code'], 2010, row['2010']],
                    #[row['Country Code'], 2011, row['2011']],
                    #[row['Country Code'], 2012, row['2012']],
                    #[row['Country Code'], 2013, row['2013']],
                    #[row['Country Code'], 2014, row['2014']]],
                   #ignore_index=True)
    
#new_world_labor_rates_df.apply(into_rates, axis=1)

for index, row in new_world_labor_rates_df.iterrows():
    country = row[0]
    for item in row:
        print(item)
        #df.append(item[0], item[1], '2010')
        #df.append(item[0], item[2], '2011')
        #df.append(item[0], item[3], '2012')
        
        
   # rate2010 = row[1]
   # rate2011 = row[2]
   # rate2012 = row[3]
   # rate2013 = row[4]
   # rate2014 = row[5]
   
    #insert to db

AFG
0.206000004
20.89999962
19.70000076
21.10000038
20.79999924
AGO
10.80000019
10.69999981
10.69999981
10.60000038
10.5
ALB
25.79999924
27.0
28.29999924
28.70000076
29.20000076
ARB
25.02221416
28.11751567
29.11321202
29.33530604
29.70456912
ARE
9.800000191
9.800000191
9.800000191
9.899999618999999
10.0
ARG
19.5
18.79999924
18.39999962
19.70000076
21.29999924
ARM
38.29999924
38.70000076
35.0
32.5
35.09999847
AUS
11.39999962
11.39999962
11.69999981
12.19999981
13.10000038
AUT
8.800000191
8.199999809
8.699999809
9.100000382000001
9.199999809
AZE
14.60000038
14.5
14.30000019
13.39999962
13.60000038
BDI
10.80000019
10.80000019
10.80000019
10.80000019
10.69999981
BEL
22.5
18.60000038
19.70000076
23.10000038
23.60000038
BEN
2.0
2.0
2.0
1.7999999519999998
1.7000000480000002
BFA
5.1999998089999995
5.3000001910000005
5.1999998089999995
5.1999998089999995
5.0
BGD
8.199999809
8.199999809
8.199999809
8.899999618999999
9.100000382000001
BGR
22.89999962
25.20000076
28.20000076
29.70000076
25.89999962
BHR
10.19999981
11.39999962
10.5
10.60000038
10.89999962
BHS
36.0
27.20000076
30.39999962
30.79999924
30.10000038
BIH
57.20000076
57.09999847
61.70000076
57.40000153
57.5
BLR
13.19999981
12.5
11.80000019
12.0
12.0
BLZ
20.89999962
24.29999924
26.0
22.39999962
22.0
BOL
6.0
5.5
5.5
5.099999905
5.1999998089999995
BRA
17.20000076
15.19999981
14.39999962
14.69999981
15.19999981
BRB
25.29999924
25.5
26.5
26.20000076
26.79999924
BRN
10.89999962
10.89999962
11.0
11.30000019
11.10000038
BTN
8.399999618999999
8.399999618999999
6.400000095
10.39999962
10.0
BWA
33.0
33.20000076
33.29999924
32.79999924
33.90000153
CAF
10.80000019
10.80000019
10.69999981
12.0
11.89999962
CAN
14.80000019
14.10000038
14.30000019
13.80000019
13.39999962
CEB
24.55851044
25.48077081
26.32247092
26.77545896
24.32673518
CHE
7.6999998089999995
7.599999905
8.5
8.800000191
8.699999809
CHL
18.60000038
17.60000038
16.20000076
16.10000038
16.39999962
CHN
9.0
9.300000191
9.699999809
10.10000038
10.5
CIV
6.1999998089999995
6.3000001910000005
6.0
6.0
5.8000001910000005
CMR
6.400000095
6.400000095
6.400000095
6.3000001910000005
6.6999998089999995
COG
10.60000038
10.80000019
10.80000019
10.80000019
10.69999981
COL
24.29999924
23.20000076
20.60000038
16.89999962
18.89999962
COM
10.60000038
10.60000038
10.5
10.5
10.60000038
CPV
18.20000076
18.10000038
18.29999924
18.29999924
18.79999924
CRI
17.0
17.0
18.79999924
19.89999962
19.20000076
CSS
25.00404981
23.85882696
25.97757355
26.47746032
24.59677537
CUB
6.099999905
6.6999998089999995
6.8000001910000005
6.900000095
7.099999905
CYP
16.0
21.39999962
26.79999924
36.90000153
35.70000076
CZE
18.5
17.89999962
19.60000038
18.89999962
16.70000076
DEU
9.699999809
8.399999618999999
8.100000382000001
7.8000001910000005
7.599999905
DNK
14.10000038
14.30000019
14.10000038
13.0
12.39999962
DOM
25.29999924
30.0
30.89999962
31.89999962
31.39999962
DZA
22.20000076
22.5
26.29999924
20.39999962
20.0
EAP
11.00182193
10.68795967
10.89142058
11.51148384
11.79057892
EAR
14.25074593
14.18041932
14.32833225
14.22318104
14.35050363
EAS
10.92512961
10.58613711
10.75469503
11.2969454
11.5704049
ECA
19.22433988
18.330847100000003
17.84104195
17.29501611
17.24928397
ECS
20.43299976
20.22957008
21.10394243
21.18322036
20.88998025
ECU
11.30000019
10.69999981
10.89999962
9.800000191
10.80000019
EGY
26.29999924
33.90000153
37.90000153
41.70000076
42.0
EMU
22.38713073
22.9145776
25.80809489
26.93888968
27.58394598
ERI
10.80000019
10.60000038
10.60000038
10.80000019
10.89999962
ESP
42.5
47.09999847
54.29999924
57.09999847
57.90000153
EST
33.29999924
22.60000038
21.0
18.70000076
17.0
ETH
7.400000095
7.5
7.900000095
6.599999905
7.099999905
EUU
22.15853143
22.79359585
25.03258577
25.71726864
25.11613919
FCS
16.13627162
16.68354951
16.61488938
16.60343442
16.66226142
FIN
20.39999962
18.89999962
17.79999924
19.60000038
19.20000076
FJI
20.10000038
20.10000038
20.20000076
19.60000038
18.60000038
FRA
22.60000038
21.89999962
23.79999924
23.70000076
23.89999962
GAB
34.5
34.5
34.59999847
35.70000076
35.5
GBR
19.60000038
20.10000038
21.39999962
20.29999924
16.70000076
GEO
36.79999924
36.59999847
33.79999924
35.70000076
34.09999847
GHA
11.39999962
9.399999618999999
7.400000095
1.899999976
3.299999952
GIN
1.899999976
1.399999976
1.399999976
1.5
1.7000000480000002
GMB
10.69999981
11.10000038
10.69999981
10.69999981
10.60000038
GNB
10.69999981
10.60000038
11.0
11.0
11.10000038
GNQ
10.80000019
10.60000038
10.69999981
11.0
12.60000038
GRC
32.40000153
44.09999847
54.70000076
58.0
53.90000153
GTM
5.6999998089999995
7.400000095
5.599999905
5.6999998089999995
5.400000095
GUY
23.29999924
22.89999962
23.10000038
23.39999962
23.79999924
HIC
18.51720393
18.18417641
18.65356888
18.58911295
17.83189196
HKG
12.10000038
9.199999809
9.300000191
8.899999618999999
8.5
HND
9.100000382000001
8.300000191
7.099999905
6.900000095
6.900000095
HPC
11.67657988
11.63183499
11.48885495
11.05718514
11.12491988
HRV
33.5
36.59999847
44.09999847
50.29999924
45.90000153
HTI
19.29999924
16.70000076
17.29999924
17.0
17.10000038
HUN
26.60000038
26.0
27.89999962
27.0
21.0
IBD
13.96016707
13.99020624
14.20912612
14.30328981
14.54452811
IBT
13.22616099
13.19784356
13.31278214
13.35477228
13.53112602
IDA
11.25090026
11.12213538
11.03727109
11.02792824
11.1285157
IDB
10.54681827
10.24766841
10.17111324
10.48135345
10.61902783
IDN
25.0
21.39999962
20.29999924
21.79999924
21.79999924
IDX
11.65618089
11.61938774
11.52256997
11.32930665
11.40490842
IND
10.19999981
10.30000019
10.69999981
10.39999962
10.39999962
IRL
28.0
29.10000038
30.39999962
26.70000076
25.79999924
IRN
28.39999962
28.39999962
28.29999924
28.79999924
29.39999962
IRQ
32.29999924
32.40000153
32.40000153
32.09999847
34.59999847
ISL
16.10000038
14.60000038
13.39999962
11.10000038
10.89999962
ISR
13.60000038
11.60000038
12.30000019
10.69999981
11.0
ITA
27.79999924
29.10000038
35.20000076
39.70000076
44.09999847
JAM
30.0
29.5
32.90000153
35.70000076
30.5
JOR
30.10000038
31.60000038
31.29999924
33.29999924
28.79999924
JPN
9.100000382000001
8.0
7.8000001910000005
6.8000001910000005
6.5
KAZ
6.0
5.3000001910000005
4.599999905
4.099999905
3.5
KEN
17.10000038
17.10000038
17.29999924
17.29999924
17.39999962
KGZ
16.60000038
15.89999962
16.60000038
15.30000019
14.69999981
KHM
0.8999999759999999
0.699999988
0.5
0.699999988
0.8999999759999999
KOR
9.699999809
9.699999809
8.899999618999999
9.199999809
10.39999962
KWT
10.60000038
21.60000038
21.10000038
20.5
19.39999962
LAC
14.91169585
14.23968925
13.51863412
13.21254539
13.86430965
LAO
3.200000048
3.200000048
3.299999952
3.299999952
3.400000095
LBN
20.89999962
20.79999924
20.79999924
20.20000076
20.70000076
LBR
5.0
5.0
5.0
4.599999905
4.599999905
LBY
43.79999924
42.59999847
46.20000076
47.0
48.90000153
LCN
15.13383257
14.43314856
13.69538622
13.39231665
14.03033962
LDC
11.40659968
11.45290947
11.43183197
11.40736868
11.458322099999998
LIC
10.38537713
10.42106075
10.40527048
10.21640793
10.22931929
LKA
18.79999924
16.89999962
16.60000038
18.39999962
19.10000038
LMC
13.06103102
13.12808185
13.23102283
13.32071141
13.38482462
LMY
13.14487964
13.11082944
13.228547
13.26902482
13.46700801
LSO
35.59999847
37.79999924
36.0
30.5
33.0
LTE
11.58609725
11.49734972
11.56805377
11.81621141
12.06561389
LTU
35.20000076
32.0
26.20000076
21.89999962
21.5
LUX
14.5
16.79999924
18.5
19.20000076
16.0
LVA
34.90000153
31.0
28.29999924
23.10000038
19.29999924
MAC
5.3000001910000005
5.8000001910000005
5.0
3.5
2.900000095
MAR
17.70000076
17.79999924
18.5
18.39999962
20.20000076
MDA
17.70000076
15.10000038
13.10000038
13.5
8.5
MDG
6.1999998089999995
6.1999998089999995
6.1999998089999995
5.599999905
5.1999998089999995
MDV
25.39999962
25.5
26.60000038
26.0
26.89999962
MEA
25.92388649
28.71213163
29.65067464
29.93350003
30.40355258
MEX
9.399999618999999
10.0
9.5
9.399999618999999
9.899999618999999
MIC
13.45367703
13.42221763
13.56830105
13.65192373
13.89020455
MKD
53.70000076
55.40000153
53.79999924
51.79999924
50.79999924
MLI
10.30000019
10.39999962
10.5
10.5
10.5
MLT
13.19999981
14.0
14.30000019
14.10000038
13.60000038
MMR
9.399999618999999
9.399999618999999
9.300000191
9.300000191
9.5
MNA
26.50492496
29.63539225
30.89008842
31.21148325
31.68383291
MNE
46.0
37.20000076
41.29999924
40.5
39.5
MNG
14.10000038
9.0
9.600000382000001
9.600000382000001
9.300000191
MOZ
40.70000076
40.70000076
40.70000076
40.70000076
40.70000076
MRT
46.70000076
46.70000076
46.5
46.59999847
46.59999847
MUS
23.10000038
21.70000076
23.70000076
21.89999962
21.20000076
MWI
13.80000019
13.89999962
14.0
13.89999962
13.80000019
MYS
11.0
10.0
10.19999981
10.60000038
6.6999998089999995
NAC
18.32792309
17.08694564
16.29165096
15.61048814
13.94309959
NAM
44.09999847
40.09999847
34.20000076
40.59999847
38.70000076
NER
7.1999998089999995
7.3000001910000005
7.1999998089999995
7.1999998089999995
7.099999905
NGA
13.80000019
13.80000019
13.69999981
13.60000038
13.60000038
NIC
12.30000019
11.60000038
10.60000038
7.6999998089999995
7.599999905
NLD
8.800000191
7.5
9.5
11.0
11.10000038
NOR
9.199999809
8.699999809
8.600000382000001
9.100000382000001
8.399999618999999
NPL
4.0
4.0
4.0
4.0
4.0
NZL
17.0
17.20000076
17.70000076
15.80000019
14.60000038
OED
17.24663479
16.76466772
17.08544365
16.92381884
16.40832082
OMN
19.29999924
19.0
18.79999924
18.60000038
18.79999924
OSS
24.25900774
23.53717391
22.87488947
23.21186902
23.32133744
PAK
8.199999809
8.100000382000001
8.100000382000001
8.300000191
8.600000382000001
PAN
14.89999962
11.89999962
10.0
10.10000038
11.0
PER
9.0
9.5
8.5
8.699999809
9.199999809
PHL
16.79999924
16.10000038
16.39999962
16.60000038
16.39999962
PNG
5.400000095
5.3000001910000005
5.400000095
5.5
5.400000095
POL
23.39999962
25.5
26.39999962
27.20000076
24.0
PRE
13.99682244
14.07091362
13.96399871
13.928100699999998
13.97984133
PRI
30.60000038
30.10000038
27.39999962
28.10000038
27.79999924
PRK
10.19999981
10.30000019
10.69999981
10.60000038
10.60000038
PRT
22.29999924
30.0
37.59999847
37.79999924
36.79999924
PRY
11.89999962
10.19999981
10.39999962
10.5
9.300000191
PST
17.79825563
17.47630499
18.01824685
17.89016227
17.19878334
QAT
1.5
1.7000000480000002
1.600000024
1.200000048
1.299999952
ROU
22.29999924
23.89999962
22.79999924
23.79999924
25.10000038
RUS
16.79999924
15.30000019
15.0
14.10000038
12.89999962
RWA
0.699999988
0.699999988
0.699999988
0.699999988
0.699999988
SAS
9.943292742
9.995086959
10.27067436
10.18971664
10.25114911
SAU
29.79999924
30.10000038
28.0
28.70000076

29.5
SDN
22.79999924
22.70000076
22.70000076
23.0
23.29999924
SEN
13.0
12.39999962
12.30000019
13.0
13.0
SGP
9.899999618999999
9.199999809
9.0
9.0
9.600000382000001
SLB
9.100000382000001
8.899999618999999
9.300000191
9.399999618999999
9.5
SLE
5.099999905
5.099999905
5.0
4.900000095
4.900000095
SLV
13.0
12.0
11.89999962
11.19999981
11.69999981
SOM
10.5
10.5
10.5
10.60000038
10.60000038
SRB
45.5
50.40000153
50.59999847
49.70000076
49.5
SSA
14.652528899999998
14.52390793
14.50369884
14.05060419
14.12429974
SSF
14.652528899999998
14.52390793
14.50369884
14.05060419
14.12429974
SST
24.04004695
23.26828156
23.13758557
23.47112157
23.19441722
SUR
20.70000076
19.0
17.39999962
15.5
17.89999962
SVK
33.70000076
33.09999847
33.90000153
33.5
31.10000038
SVN
14.60000038
15.80000019
20.60000038
22.79999924
20.79999924
SWE
25.20000076
23.20000076
24.20000076
23.79999924
22.79999924
SWZ
42.0
42.20000076
42.0
42.0
42.59999847
SYR
19.29999924
33.70000076
33.70000076
32.40000153
30.10000038
TCD
10.39999962
10.89999962
10.60000038
10.69999981
10.5
TEA
11.0109481
10.69248343
10.89372738
11.52289643
11.806054099999999
TEC
19.64773365
19.00293831
18.67570559
18.28437104
17.97349256
TGO
10.80000019
10.80000019
10.69999981
10.69999981
10.69999981
THA
4.0
2.900000095
3.099999905
3.200000048
3.900000095
TJK
17.29999924
16.39999962
15.39999962
15.69999981
15.5
TKM
20.60000038
21.0
20.70000076
20.60000038
20.20000076
TLA
15.16645796
14.45004448
13.70704996
13.39182653
14.04106929
TMN
26.36887616
29.57835834
30.80394975
31.10587728
31.52178768
TLS
13.10000038
12.60000038
13.39999962
13.39999962
14.0
TSA
9.943292742
9.995086959
10.27067436
10.18971664
10.25114911
TSS
14.652528899999998
14.52390793
14.50369884
14.05060419
14.12429974
TTO
14.0
11.19999981
12.39999962
9.100000382000001
10.60000038
TUN
29.39999962
42.70000076
32.79999924
31.29999924
31.79999924
TUR
21.20000076
17.89999962
17.10000038
16.5
17.70000076
TZA
5.599999905
6.599999905
6.0
5.3000001910000005
5.5
UGA
7.400000095
7.400000095
7.400000095
7.400000095
6.8000001910000005
UKR
17.39999962
19.0
17.29999924
16.0
16.89999962
UMC
13.91807947
13.77960544
13.99281199
14.08622741
14.58100923
URY
20.79999924
17.89999962
18.5
18.10000038
19.10000038
USA
18.70000076
17.39999962
16.5
15.80000019
14.0
UZB
20.60000038
20.60000038
20.60000038
20.5
20.29999924
VEN
17.5
17.39999962
17.10000038
14.80000019
17.10000038
VNM
6.099999905
5.3000001910000005
5.0
6.3000001910000005
6.3000001910000005
PSE
37.70000076
34.09999847
37.29999924
38.70000076
42.70000076
WLD
13.78495694
13.71467257
13.87429289
13.90383191
13.9871842
YEM
30.29999924
30.0
30.20000076
30.20000076
29.89999962
ZAF
50.79999924
50.09999847
52.20000076
51.40000153
52.59999847
COD
12.30000019
12.30000019
12.30000019
12.19999981
11.89999962
ZMB
26.39999962
26.60000038
26.60000038
25.5
25.10000038
ZWE
9.600000382000001
8.300000191
8.300000191
8.899999618999999
9.399999618999999

### Store 2nd CSV into DataFrame

In [10]:
csv_file = "Resources/PovStatsCountry.csv"
income_group_df = pd.read_csv(csv_file)
income_group_df.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2011",NaN,NaN,NaN,2016.0
1,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Special trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2016.0
2,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Special trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Demographic and Health Survey, 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2016.0
3,ARG,Argentina,Argentina,Argentine Republic,AR,Argentine peso,National Institute of Statistics and Census re...,Latin America & Caribbean,Upper middle income,AR,...,Special trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2010,"Multiple Indicator Cluster Survey, 2011/12","Integrated household survey (IHS), 2016",Yes,2008,2002.0,2016.0
4,ARM,Armenia,Armenia,Republic of Armenia,AM,Armenian dram,NaN,Europe & Central Asia,Lower middle income,AM,...,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2015",Yes,2014,NaN,2016.0

### Clean DataFrame

In [11]:
new_income_group_df = income_group_df[['Country Code', 'Short Name', 'Long Name', 'Currency Unit', 'Region', 'Income Group', 'Source of most recent Income and expenditure data']].copy()
new_income_group_df.head()

,Country Code,Short Name,Long Name,Currency Unit,Region,Income Group,Source of most recent Income and expenditure data
0,AFG,Afghanistan,Islamic State of Afghanistan,Afghan afghani,South Asia,Low income,"Integrated household survey (IHS), 2011"
1,AGO,Angola,People's Republic of Angola,Angolan kwanza,Sub-Saharan Africa,Lower middle income,"Integrated household survey (IHS), 2008/09"
2,ALB,Albania,Republic of Albania,Albanian lek,Europe & Central Asia,Upper middle income,Living Standards Measurement Study Survey (LSM...
3,ARG,Argentina,Argentine Republic,Argentine peso,Latin America & Caribbean,Upper middle income,"Integrated household survey (IHS), 2016"
4,ARM,Armenia,Republic of Armenia,Armenian dram,Europe & Central Asia,Lower middle income,"Integrated household survey (IHS), 2015"

In [13]:
# Rename columns
df = new_income_group_df.rename(columns={'Country Code': 'code', 'Short Name': 'name', 
                                    'Long Name': 'official_name', 'Currency Unit': 'currency_unit', 'Region': 'region',
                                   'Income Group': 'income_group',
                                    'Source of most recent Income and expenditure data': 'source'})
df.head()

,code,name,official_name,currency_unit,region,income_group,source
0,AFG,Afghanistan,Islamic State of Afghanistan,Afghan afghani,South Asia,Low income,"Integrated household survey (IHS), 2011"
1,AGO,Angola,People's Republic of Angola,Angolan kwanza,Sub-Saharan Africa,Lower middle income,"Integrated household survey (IHS), 2008/09"
2,ALB,Albania,Republic of Albania,Albanian lek,Europe & Central Asia,Upper middle income,Living Standards Measurement Study Survey (LSM...
3,ARG,Argentina,Argentine Republic,Argentine peso,Latin America & Caribbean,Upper middle income,"Integrated household survey (IHS), 2016"
4,ARM,Armenia,Republic of Armenia,Armenian dram,Europe & Central Asia,Lower middle income,"Integrated household survey (IHS), 2015"

### Connect to local database

In [40]:
rds_connection_string = "root:Iwtbab012019$@127.0.0.1/world_rate_db"
engine = create_engine(f'mysql://{rds_connection_string}')

### Check for tables

In [41]:
engine.table_names()

['countries', 'unemployment_rates']

### Use pandas to load csv converted DataFrame into database

In [45]:
df.to_sql(name='countries', con=engine, if_exists='replace', index=False)

### Use pandas to load csv converted DataFrame into database

In [29]:
new_world_labor_rates_df.to_sql(name='unemployment_rates', con=engine, if_exists='replace', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [30]:
pd.read_sql_query('select * from countries', con=engine).head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

In [31]:
pd.read_sql_query('select * from customer_location', con=engine).head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York